
CustomFood/.vs/CustomFood/v15/Server/sqlite3/db.lock
CustomFood/.vs/CustomFood/v15/Server/sqlite3/storage.ide
CustomFood/.vs/CustomFood/v15/Server/sqlite3/storage.ide-shm
CustomFood/CustomFood/obj/Debug/CustomFood.csproj.CoreCompileInputs.cache
CustomFood/.vs/CustomFood/v15/Server/sqlite3/storage.ide-wal
CustomFood/.vs/CustomFood/v15/.suo
CustomFood/CustomFood/obj/Debug/CustomFood.csprojResolveAssemblyReference.cache
CustomFood/CustomFood/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CustomFood/CustomFood/bin/Debug/0Harmony.dll
CustomFood/CustomFood/bin/Debug/Assembly-CSharp-firstpass.dll
CustomFood/CustomFood/bin/Debug/Assembly-CSharp.dll
CustomFood/CustomFood/bin/Debug/CustomFood.pdb
CustomFood/CustomFood/bin/Debug/iTween.dll
CustomFood/CustomFood/bin/Debug/LibNoise.dll
CustomFood/CustomFood/bin/Debug/LitJson.dll
CustomFood/CustomFood/bin/Debug/LumenWorks.dll
CustomFood/CustomFood/bin/Debug/Mono.Cecil.dll
CustomFood/CustomFood/bin/Debug/MoreIngots.dll
CustomFood/CustomFood/bin/Debug/Newtonsoft.Json.dll
CustomFood/CustomFood/bin/Debug/Poly2Tri.dll
CustomFood/CustomFood/bin/Debug/QModInstaller.dll
CustomFood/CustomFood/bin/Debug/SMLHelper.dll
CustomFood/CustomFood/bin/Debug/UnityEngine.dll
CustomFood/CustomFood/bin/Debug/UnityEngine.UI.dll
CustomFood/CustomFood/bin/Debug/Utilites.dll
CustomFood/CustomFood/bin/Debug/Utilites.xml
CustomFood/CustomFood/bin/Debug/CustomFood.dll
CustomFood/CustomFood/obj/Debug/CustomFood.pdb
CustomFood/CustomFood/obj/Debug/CustomFood.dll
CustomFood/CustomFood/obj/Debug/CustomFood.csproj.FileListAbsolute.txt
CustomFood/CustomFood/obj/Debug/CustomFood.csproj.CopyComplete

CustomFood/CustomFood/CustomFood.csproj
(AlexejheroYTB: my references paths are different, and i don't want it to commit with mine, because then it wont work for you)
CustomFood/CustomFood/CustomFood_AlexejheroYTB.csproj
CustomFood/CustomFood/obj/Debug/CustomFood_AlexejheroYTB.csprojResolveAssemblyReference.cache
CustomFood/CustomFood/obj/Debug/CustomFood_AlexejheroYTB.csproj.FileListAbsolute.txt
CustomFood/CustomFood/obj/Debug/CustomFood_AlexejheroYTB.csproj.CoreCompileInputs.cache
CustomFood/CustomFood/obj/Debug/CustomFood_AlexejheroYTB.csproj.CopyComplete
CustomFood/.vs/CustomFood_AlexejheroYTB/v15/.suo
CustomFood/CustomFood_AlexejheroYTB.sln
